<div class="newPost">
    <h3>NEW POST</h3>

    <form [formGroup]="newPost" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label  class="form-label">Título</label>
            <input class="form-control" type="text" name="titulo" formControlName="titulo">
            <div class="error" *ngIf="newPost.controls.titulo.errors && newPost.controls.titulo.touched">
                introduce un titulo
            </div>
        </div>

        <div class="form-group">
            <label  class="form-label">¿Qué quieres contar hoy?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" 
                rows="3" formControlName="texto"></textarea>
            <div class="error" *ngIf="newPost.controls.texto.errors && newPost.controls.texto.touched">
                introduce un texto
            </div>
        </div>


        <div class="form-group">
            <label class="form-label">autor/a</label>
            <input type="text" class="autor" formControlName="autor" class="form-control">
        </div>

        <div class="form-group">
            <label for="imagen">Link imagen</label>
            <input type="text" class="form-control" formControlName="imagen">

        </div>

        <div class="form-group">
            <label  class="form-label">Fecha</label>
            <input type="date" class="form-control" formControlName="fecha">
        </div>

        <div class="form-group">
            <label  class="form-label">Categoría</label>
            <select formControlName="categoria" class="form-control">
                <option value="deporte">Deporte</option>
                <option value="comida">Comida</option>
                <option value="musica">Musica</option>
                <option value="videojuegos">Videojuegos</option>
                <option value="reflexiones">Reflexiones</option>
            </select>

            
        </div>


        <button type="submit" class="btn btn-block btn-info" [disabled]="!newPost.valid">PUBLICAR</button>


    </form>

    

</div>